.about-page {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("../../assets/img/circle-deco-minimal.svg");
    @include bg-props(cover, center, no-repeat);
    width: 1485.411939rem;
    height: 2293.927298rem;
    z-index: -1;
    pointer-events: none;
  }
  &-basic {
    .the-content {
      color: #000;
      strong,
      b {
        font-weight: $bold;
      }
      h2 {
        font-size: 90.252877rem;
        margin-bottom: 112.816097rem;
      }
      p {
        line-height: 1.25;
        font-size: 41.365902rem;
        &:not(:last-of-type) {
          margin-bottom: 65.80939rem;
        }
      }
      .wp-block-image {
        width: 100%;
        margin-top: 188.026828rem;
        img {
          @include fullSizeImg(cover);
        }
      }
    }
    .the-activities {
      margin-top: 159.822804rem;
      h2 {
        margin-bottom: 41.365902rem;
      }
      p {
        font-size: 41.365902rem;
        line-height: 1.25;
        &:not(:last-of-type) {
          margin-bottom: 65.80939rem;
        }
      }
      h3 {
        line-height: 1.25;
        margin-top: 122.217438rem;
        margin-bottom: 150.421462rem;
        font-size: 67.689658rem;
        font-weight: $bold;
      }
      .single-activity {
        flex: 0 0 auto;
        width: calc(33% - 142.900389rem);
        border-right: 1px solid #eef2ff;
        padding-right: 103.414755rem;
        margin-right: 142.900389rem;
        margin-bottom: 131.618779rem;
        h5 {
          color: $lblue;
          margin-bottom: 75.210731rem;
          font-size: 45.126439rem;
          font-weight: $bold;
        }
        p {
          color: $dblue;
          font-size: 33.844829rem;
          line-height: 1.25;
          text-transform: capitalize;
        }
      }
    }
    .target-groups {
      margin-top: 159.822804rem;
      .content,
      .img-wrapper {
        flex: 0 0 auto;
        width: 50%;
      }
      .content {
        padding-right: 178.625486rem;
        h2 {
          margin-bottom: 75.210731rem;
        }
        p {
          font-size: 41.365902rem;
          line-height: 1.25;
          &:not(:last-of-type) {
            margin-bottom: 65.80939rem;
          }
          a {
            font-weight: $bold;
            color: $lblue;
          }
        }
      }
      .img-wrapper {
        height: 100%;
      }
      &.eu-union {
        .content {
          width: 100%;
          padding-right: 0;
        }
      }
    }
    &-simple {
      .the-content {
        p {
          max-width: 1254.138941rem;
        }
        .wp-block-image {
          margin-top: 0;
        }
      }
    }
  }
  &-who-we-are {
    margin-top: -376.053655rem;
    .person-tabber-content {
      .tab {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        &#countryCoordinator {
          display: none;
        }
      }
      .single-person {
        position: relative;
        flex: 0 0 579.122629rem;
        max-width: 579.122629rem;
        &:not(:nth-of-type(4n)) {
          margin-right: 170rem;
        }
        .img-wrapper {
          width: 579.122629rem;
          height: 579.122629rem;
          position: relative;
          margin-bottom: 84.612072rem;
          @include borderRadius(50%);
          img {
            @include borderRadius(50%);
          }
          &::after {
            content: "";
            position: absolute;
            bottom: -178.625486rem;
            left: -178.625486rem;
            background: url("../../assets/img/img-frame-lblue.svg");
            @include bg-props(contain, center, no-repeat);
            width: 706.980872rem;
            height: 560.319946rem;
            pointer-events: none;
            z-index: 1;
          }
        }
        a {
          position: absolute;
          top: 376.053655rem;
          right: 18.802683rem;
          width: 163.58334rem;
          height: 163.58334rem;
          z-index: 9;
          i {
            width: 100%;
            height: 100%;
          }
          &:hover {
            i {
              background: $dblue;
            }
          }
        }
        h3 {
          color: #000;
          font-size: 56.408048rem;
          font-weight: $bold;
          line-height: 0.89;
          margin-bottom: 9.401341rem;
        }
        p {
          color: #a0a0a0;
          font-size: 37.605366rem;
          line-height: 1.4;
        }
      }
      .person-modal {
        display: none;
        background: rgba(5, 24, 94, 0.8);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1024;
        align-items: center;
        justify-content: center;
        &.active {
          display: flex;
        }
        .modal-content {
          width: 2401.102589rem;
          height: 1372.595842rem;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          align-content: center;
          padding: 235.033535rem 216.230852rem;
          position: relative;
          .close-modal {
            background: $lblue;
            width: 118.456901rem;
            height: 118.456901rem;
            line-height: 118.456901rem;
            text-align: center;
            position: absolute;
            top: 94.013414rem;
            right: 94.013414rem;
            display: block;
            color: #fff;
            @include borderRadius(50%);
            font-size: 37.605366rem;
            &:hover {
              background: $dblue;
            }
          }
          .bio-wrapper {
            max-height: 889.366895rem;
            overflow-y: auto;
            padding-right: 129.738511rem;
            &::-webkit-scrollbar {
              width: 12rem;
              &-track {
                box-shadow: none;
                border-radius: 18.802683rem;
              }
              &-thumb {
                background: $dblue;
                border-radius: 10px;
                &:hover {
                  background: $dblue;
                }
              }
            }

            p {
              font-size: 37.605366rem;
              line-height: 1.4;
              color: $darkerBlue;
              &:not(:last-of-type) {
                margin-bottom: 65.80939rem;
              }
            }
          }
        }
      }
    }
  }
  &-consortium {
    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: flex-start;
      justify-content: space-between;
      align-items: flex-start;
      .single-box {
        max-width: 1222.17438rem;
        .top-bar {
          padding-bottom: 63.929121rem;
          margin-bottom: 110.935828rem;
          border-bottom: 35.725097rem solid $darkerBlue;
          display: flex;
          flex-direction: row;
          align-content: center;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          h3 {
            font-size: 90.252877rem;
            font-weight: $bold;
          }
          .img-wrapper {
            height: 78.971268rem;
            width: auto;
            max-width: 50%;
            img {
              @include fullSizeImg(contain);
            }
          }
        }
        p {
          font-size: 37.605366rem;
          line-height: 1.4;
          &:not(:last-of-type) {
            margin-bottom: 65.80939rem;
          }
          a {
            color: $lblue;
            font-weight: $bold;
            text-decoration: none;
          }
        }
      }
    }
  }
}
