body.single-country {
  .hero-inner {
    .date {
      display: none;
    }
    .country-excerpt {
      p {
        strong,
        b {
          font-weight: $bold;
          span {
            font-weight: inherit;
          }
        }
        &:not(:last-of-type) {
          margin-bottom: 65.80939rem;
        }
      }
    }
  }
  .the-content {
    p {
      font-size: 41.365902rem;
      @include for-tablet {
        font-size: 180rem;
      }
      strong,
      b {
        font-weight: $bold;
        span {
          font-weight: inherit;
        }
      }
      &:not(:last-of-type) {
        margin-bottom: 65.80939rem;
        @include for-tablet {
          margin-bottom: 180rem;
        }
      }
      a {
        color: $lblue;
        &:visited {
          text-decoration: underline;
          color: $lblue;
        }
      }
    }
    .wp-block-image {
      img {
        @include fullSizeImg(contain);
      }
      @include for-tablet {
        figure {
          height: 2260rem;
        }
      }
    }
    .wp-block-buttons {
      @include for-tablet {
        width: 100%;
        .wp-block-button {
          width: 100%;
        }
      }
    }
    .wp-block-button__link {
      background: #202d5d;
      color: #fff;
      padding: 54.52778rem 203.068974rem 54.52778rem 88.372609rem;
      font-weight: $semiBold;
      font-size: 33.844829rem;
      position: relative;
      &::before {
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        content: "\f30b";
        position: absolute;
        @include ver-center();
        font-size: 48.886975rem;
        right: 65.80939rem;
        @include for-tablet {
          font-size: 250rem;
          right: 300rem;
        }
      }
      &:hover {
        border-color: $lblue;
        background: $lblue;
      }
      @include for-tablet {
        width: 100%;
        padding: 260rem 740rem 260rem 290rem;
        font-size: 160rem;
      }
    }
  }
  #related-country-news {
    margin-top: 332.807485rem;
    margin-bottom: 291.441583rem;
    padding-left: $sidePadding;
    @include for-tablet {
      padding-bottom: 300rem;
      margin-bottom: 1460rem;
      padding-right: $sidePadding;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        width: 90%;
        height: 10rem;
        bottom: 0;
        @include hor-center();
        background: rgba(55, 165, 255, 0.2);
      }
    }
    .info-container {
      padding-right: $sidePadding;
      margin-bottom: 84.612072rem;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      @include for-tablet {
        h2 {
          font-size: 220rem;
        }
        .btn {
          position: absolute;
          bottom: -850rem;
          @include hor-center();
        }
      }
    }
    .swiper {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 763.473213rem;
        height: 100%;
        opacity: 0.72;
        z-index: 1;
        background: #364b98;
        background: linear-gradient(
          180deg,
          #364b98 73%,
          rgba(255, 255, 255, 0) 73%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#364b98",endColorstr="#ffffff",GradientType=1);
        @include for-tablet {
          display: none;
        }
      }
      .swiper-btns-wrapper {
        position: absolute;
        right: $sidePadding;
        top: 131.618779rem;
        z-index: 9;
        @include for-tablet {
          .swiper-button {
            width: 360rem;
            height: 360rem;
            font-size: 100rem;
          }
        }
      }
    }
  }
}
