.search-title {
  font-size: 48.886975rem;
  margin-bottom: 65.80939rem;
  text-align: center;
  color: #000;
  margin-top: 65.80939rem;
  span {
    color: $darkerBlue;
    font-weight: $semiBold;
  }
}
