.single-post {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
  justify-content: space-between;
  article {
    width: 2094.61886rem;
    // margin-right: 150.421462rem;
    .featured-image {
      width: 100%;
      height: 1316.187794rem;
      margin-bottom: 125.977975rem;
    }
    .the-content {
      p {
        font-size: 37.605366rem;
        line-height: 1.45;
        letter-spacing: -0.02em;
        b,
        strong {
          font-weight: $bold;
          span {
            font-weight: inherit;
          }
        }
        a {
          font-weight: $bold;
          color: $lblue;
          span {
            font-weight: inherit;
            color: inherit;
          }
        }
        &:not(:last-of-type) {
          margin-bottom: 65.80939rem;
        }
      }
      h1 {
        font-size: 60.168585rem;
      }
      h2 {
        font-size: 56.408048rem;
      }
      h3 {
        font-size: 52.647512rem;
      }
      h4 {
        font-size: 48.886975rem;
      }
      h5 {
        font-size: 45.126439rem;
      }
      h6 {
        font-size: 41.365902rem;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        span {
          font-weight: inherit;
          color: inherit;
        }
        b,
        strong {
          font-weight: $bold;
          color: inherit;
          font-size: inherit;
          span {
            font-weight: inherit;
            color: inherit;
          }
        }
      }
    }
    iframe {
      width: 100%;
      height: 1156.89658rem;
    }
  }
  aside {
    width: 678.776848rem;
    flex: 0 0 auto;
    .sidebar-content {
      .title {
        font-size: 60.689658rem;
        text-transform: uppercase;
        font-weight: $bold;
        margin-bottom: 92.133146rem;
        color: #0d1037;
        line-height: 1;
      }
      .blog-card {
        &:not(:last-of-type) {
          margin-bottom: 47.006707rem;
        }
      }
    }
  }
  .share-wrapper {
    flex: 0 0 100%;
  }
  &-photo {
    article {
      padding: 56.408048rem 0;
      width: 100%;
      .single-slide {
        max-width: 80%;
        width: auto;
        height: 1287.98377rem;
        img {
          @include fullSizeImg(cover);
        }
      }
      .swiper-btns-wrapper {
        position: absolute;
        right: 188.026828rem;
        @include ver-center();
        z-index: 99;
      }
    }
  }
}
.cu-grp-separated {
  padding-bottom: 86.492341rem;
  margin-bottom: 86.492341rem;
  &:not(:last-of-type) {
    border-bottom: 1px solid rgba(55, 165, 255, 0.2);
  }
  .heading {
    font-size: 67.689658rem;
    font-weight: $bold;
    margin-bottom: 11.28161rem;
  }
  p {
    a {
      padding-left: 178.625486rem;
      font-size: 41.365902rem;
      color: #000;
      &:hover {
        color: $lblue;
      }
    }
  }
}
