.btn {
  @include borderRadius(94.013414rem);
  padding: 37.605366rem;
  font-size: 33.844829rem;
  font-weight: $semiBold;
  @include for-tablet {
    font-size: 137rem;
    @include borderRadius(500rem);
  }
  &-lblue {
    color: #fff;
    background: $lblue;
  }
  &-arrow {
    padding: 37.605366rem 165rem 37.605366rem 65.80939rem;
    position: relative;
    @include for-tablet {
      padding: 160rem 500rem 160rem 250rem;
    }
    &::before {
      content: "";
      position: absolute;
      right: 73.330463rem;
      @include ver-center();
      background: url("../../assets/icons/arrow-right.svg");
      @include bg-props(contain, center, no-repeat);
      width: 41.365902rem;
      height: 20.04366rem;
      @include for-tablet {
        width: 168.3rem;
        height: 81.5rem;
        right: 200rem;
      }
    }
    &:hover {
      padding-right: 180rem;
      @include for-tablet {
        padding-right: 500rem;
      }
    }
    &-minimal {
      color: $lblue;
      padding-left: 0;
      font-size: 30.084292rem;
      text-transform: uppercase;
      &::before {
        background: url("../../assets/icons/arrow-right-lblue.svg");
        @include bg-props(contain, center, no-repeat);
      }
      @include for-tablet {
        font-size: 140rem;
      }
    }
  }
  &-fancy-arrow {
    color: #000;
    font-size: 33.844829rem;
    font-weight: $bold;
    padding: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    padding: 0 28.204024rem;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      @include borderRadius(167.343877rem);
      background: $lblue;
      z-index: -1;
      transform: scaleX(0);
      -moz-transform: scaleX(0);
      -webkit-transform: scaleX(0);

      transform-origin: left;
      -webkit-transform-origin: left;
      -moz-transform-origin: left;
      transition: transform 250ms ease-in;
      -moz-transition: transform 250ms ease-in;
      -webkit-transition: transform 250ms ease-in;
    }
    i {
      position: relative;
      margin-left: 41.365902rem;
      width: 110.935828rem;
      height: 110.935828rem;
      background: $lblue;
      display: block;
      @include borderRadius(50%);
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: url("../../assets/icons/arrow-right.svg");
        @include bg-props(41.365902rem, center, no-repeat);
        width: 100%;
        height: 100%;
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
