.hero-inner {
  background: $darkerBlue;
  position: relative;
  overflow: hidden;
  padding: 67.689658rem $sidePadding 203.068974rem $sidePadding;
  color: #fff;
  isolation: isolate;
  @include for-tablet {
    .swiper-btns-wrapper {
      position: absolute;
      bottom: 120rem;
      right: 200rem;
      display: flex;
      .swiper-button {
        width: 320rem;
        height: 320rem;
        font-size: 160rem;
        &:first-of-type {
          margin-right: 100rem;
        }
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: -169.224145rem;
    top: 0;
    background: url("../../assets/img/circle-deco-small.svg");
    @include bg-props(contain, center, no-repeat);
    width: 1128.160966rem;
    height: 100%;
    z-index: -1;

    @include for-tablet {
      width: 100%;
    }
  }
  .cu_breadcrumbs {
    margin-bottom: 129.738511rem;
    padding-bottom: 63.929121rem;
    border-bottom: 1px solid rgba(55, 165, 255, 0.2);
    @include for-tablet {
      display: none !important;
    }
  }
  h2 {
    color: inherit;
    text-transform: uppercase;
    margin-bottom: 26.323756rem;
    @include for-tablet {
      margin-bottom: 190rem;
    }
  }
  p {
    font-size: 41.365902rem;
    line-height: 1.4;
    @include for-tablet {
      font-size: 170rem;
    }
  }
  .person-tabber-header {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      position: relative;
      // padding-bottom: 31.964561rem;
      border-bottom: 1px solid rgba(55, 165, 255, 0.2);
      margin-bottom: 112.816097rem;
      @include for-tablet {
        padding-bottom: 100rem;
      }
      li {
        color: #fff;
        position: relative;
        &:not(:last-of-type) {
          padding-right: 157.942535rem;
          margin-right: 157.942535rem;
          @include for-tablet {
            padding-right: 100rem;
            margin-right: 100rem;
          }
          &::after {
            content: "";
            position: absolute;
            right: 0;
            @include ver-center();
            width: 5.640805rem;
            height: 37.605366rem;
            background: #fff;
            opacity: 0.2;
            @include for-tablet {
              height: 190rem;
              width: 10rem;
            }
          }
        }
        a {
          color: inherit;
          font-size: 60.168585rem;
          opacity: 0.3;
          line-height: 152rem;
          display: block;
          &::after {
            height: 9.401341rem;
            bottom: -6rem;
            @include for-tablet {
              bottom: -110rem;
            }
          }
          &:hover,
          &.active {
            font-weight: $bold;
            opacity: 1;
            &::after {
              transform: scaleX(1);
              -webkit-transform: scaleX(1);
              -moz-transform: scaleX(1);
              transform-origin: left;
              -webkit-transform-origin: left;
              -moz-transform-origin: left;
            }
          }

          @include for-tablet {
            font-size: 190rem;
          }
        }
      }
    }
  }
  &-post {
    .back-btn {
      position: absolute;
      @include ver-center();
      right: 0;
      color: #fff;
      font-weight: $bold;
      font-size: 33.844829rem;
      padding-bottom: 63.929121rem;
      display: flex;
      align-items: center;
      align-content: center;
      i {
        margin-right: 43.24617rem;
        font-size: 48.886975rem;
      }
      &:hover {
        i {
          -webkit-animation: LeftRight 1.6s ease-in-out infinite;
          animation: LeftRight 1.6s ease-in-out infinite;
        }
      }
      @include for-tablet {
        display: none;
      }
    }
    h2 {
      line-height: 1.05;
      margin-bottom: 65.80939rem;
      @include for-tablet {
        margin-bottom: 200rem;
      }
    }
    .date {
      line-height: 1.5;
      position: relative;
      padding-left: 33.844829rem;
      color: $lblue;
      font-size: 30.084292rem;
      @include for-tablet {
        font-size: 140rem;
        padding-left: 190rem;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        @include ver-center();
        background: url("../../assets/icons/calendar.svg");
        @include bg-props(contain, center, no-repeat);
        width: 22.563219rem;
        height: 22.563219rem;
        @include for-tablet {
          width: 120rem;
          height: 120rem;
        }
      }
      &.no-icon {
        padding-left: 178.625486rem;
        font-size: 45.126439rem;
        @include for-tablet {
          font-size: 140rem;
          padding-left: 0;
        }
        &::before {
          display: none;
        }
      }
    }
  }
}
