.modal {
  display: none;
  // background: rgba(5, 24, 94, 0.8);
  position: fixed;
  left: 0;
  top: 0;

  @include for-tablet {
    top: 56%;
  }

  z-index: 1024;
  @include abs-center();
  &.active {
    display: flex;
  }
  .modal-content {
    width: 2401.102589rem;
    height: 1372.595842rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 235.033535rem 216.230852rem;
    position: relative;
    @include for-tablet {
      width: 100vw;
      height: 87vh;
      flex-direction: column;
    }
    .close-modal {
      background: $lblue;
      width: 118.456901rem;
      height: 118.456901rem;
      line-height: 118.456901rem;
      text-align: center;
      position: absolute;
      top: 94.013414rem;
      right: 94.013414rem;
      display: block;
      color: #fff;
      @include borderRadius(50%);
      font-size: 37.605366rem;

      &:hover {
        background: $dblue;
      }
      @include for-tablet {
        width: 630rem;
        height: 630rem;
        font-size: 200rem;
        line-height: 618.456901rem;
      }
    }
  }
  &-video {
    .modal-content {
      padding: 0;
      .close-modal {
        top: -120rem;
        right: -120rem;
      }
      .video-wrapper {
        width: 100%;
        height: 100%;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &-backdrop {
    background: rgba(5, 24, 94, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
}
