#newsletter-section {
  .box-container {
    .imgs-wrapper {
      width: 620.488531rem;
      img {
        object-fit: cover;
        object-position: center;
        height: 50%;
        width: 100%;
      }
    }
  }
}
