.share-wrapper {
  margin-top: 131.618779rem;
  p {
    color: #202d5d;
    font-size: 32.603852rem;
    margin-right: 56.408048rem;
    text-transform: uppercase;
  }
  ul {
    li {
      &:not(:last-of-type) {
        margin-right: 48.886975rem;
      }
      a {
        width: 77.090999rem;
        height: 77.090999rem;
        border: 1px solid #202d5d;
        @include borderRadius(50%);
        color: #202d5d;
        font-size: 26.323756rem;
        transition: 0.2s;
        &:hover {
          background: #202d5d;
          color: #fff;
          transform: scale(1.1);
          box-shadow: 0 5.640805rem 11.28161rem rgba(0, 0, 0, 0.16);
        }
        &:active {
          transform: scale(0.7);
        }
      }
    }
  }
}
