.hero-home {
  position: relative;
  width: 100%;
  height: 100%;
  &::before {
    content: "";
    position: absolute;
    right: -94.013414rem;
    @include ver-center();
    width: 1611.389913rem;
    height: 1682.840108rem;
    background: url("../../assets/img/circle-deco.svg");
    @include bg-props(contain, center, no-repeat);
    z-index: 9;
    pointer-events: none;
  }
  .single-slide {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 100%;
    min-height: 1334.990476rem;
    padding-left: $sidePadding;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgba(94, 119, 255, 0.68);
      pointer-events: none;
      mix-blend-mode: multiply;
      z-index: 1;
    }
    &::after {
      content: "";
      pointer-events: none;
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 244.434876rem;
      background: rgb(23, 25, 60);
      background: -moz-linear-gradient(
        0deg,
        rgba(23, 25, 60, 0) 0%,
        rgba(23, 25, 60, 1) 100%
      );
      background: -webkit-linear-gradient(
        0deg,
        rgba(23, 25, 60, 0) 0%,
        rgba(23, 25, 60, 1) 100%
      );
      background: linear-gradient(
        0deg,
        rgba(23, 25, 60, 0) 0%,
        rgba(23, 25, 60, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#17193c",endColorstr="#17193c",GradientType=1);
    }
    .content {
      position: relative;
      max-width: 1580rem;
      max-height: 752.107311rem;
      z-index: 9;
      .date {
        line-height: 1.5;
        position: relative;
        padding-left: 47.006707rem;
        color: $lblue;
        margin-bottom: 40.030912rem;
        font-size: 33.844829rem;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          @include ver-center();
          background: url("../../assets/icons/calendar.svg");
          @include bg-props(contain, center, no-repeat);
          width: 28.204024rem;
          height: 28.204024rem;
        }
      }
      h2 {
        color: #fff;
        font-weight: $bold;
        line-height: 1.04;
        font-size: 139.139852rem;
        margin-bottom: 37.605366rem;
      }
      h4 {
        color: #fff;
        margin-bottom: 63.929121rem;
        font-size: 56.408048rem;
      }
    }
  }
  .follow-us-wrapper {
    position: absolute;
    right: 338.44829rem;
    bottom: 174.86495rem;
    z-index: 9;
    p {
      color: #fff;
      font-size: 33.844829rem;
      font-weight: $semiBold;
      margin-right: 56.408048rem;
    }
    li {
      &:not(:last-of-type) {
        margin-right: 48.886975rem;
      }
    }
  }
  .swiper-pagination {
    position: absolute;
    left: 370.412851rem;
    bottom: 165.463608rem;
    z-index: 9;
    &-bullet {
      display: block;
      width: 30.084292rem;
      height: 30.084292rem;
      @include borderRadius(50%);
      background: #fff;
      opacity: 0.2;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
      &:not(:last-of-type) {
        margin-right: 31.964561rem;
      }
      &-active {
        opacity: 1;
      }
    }
  }
}
#latest-news {
  padding-left: $sidePadding;
  .info-container {
    flex: 0 0 auto;
    width: 611.08719rem;
    h2 {
      margin-bottom: 60.168585rem;
    }
    p {
      font-size: 41.365902rem;
      line-height: 1.25;
      color: #000;
      margin-bottom: 94.013414rem;
    }
  }
  .swiper {
    width: calc(100% - 611.08719rem - 131.618779rem);
    margin-left: auto;
    margin-right: 0;
    .swiper-btns-wrapper {
      position: absolute;
      right: $sidePadding;
      top: 131.618779rem;
      z-index: 9;
    }
  }
}
.swiper-button {
  width: 110.935828rem;
  height: 110.935828rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22.563219rem;
  border: 1px solid $lblue;
  color: $lblue;
  background: #fff;
  @include borderRadius(50%);
  cursor: pointer;
  &:not(:last-of-type) {
    margin-bottom: 18.802683rem;
  }
  i {
    transition: 0s;
  }
  &:hover {
    color: #fff;
    background: $lblue;
  }
}
#latest-news,
#latest-videos,
#latest-photos {
  padding-top: 244.434876rem;
  padding-bottom: 141.020121rem;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    @include hor-center();
    width: 2906.894756rem;
    bottom: 0;
    background: rgba(55, 165, 255, 0.2);
    height: 1px;
  }
}
#latest-videos {
  padding-right: $sidePadding;
}
#latest-videos,
#latest-photos {
  padding-left: $sidePadding;
  .info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 73.330463rem;
    padding-right: $sidePadding;
  }
}
#latest-photos {
  margin-bottom: 225.632193rem;
}
